<!DOCTYPE html>
       <html lang="en">
       <head>
           <meta charset="UTF-8">
           <meta http-equiv="X-UA-Compatible" content="IE=edge">
           <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <title>NorCal Time Trial Series  </title>
           <link href="../asset/media/style/contact.css" rel="stylesheet"/>
       </head>
       <body>
           <div
           class="container">
           <div class="bloque1">
            <div class ="title">
              
             <h1> NorCal Time Trial Series </h1> 
            </div>
          
       
            <div> 
               <h2 class="Contact">Contact</h2>
           </div>
           </div>
       
              
              <div class="fotologo"><img src="../asset/media/nysl_logo.png" height="200px" width="200px">
           
              </div>
        
              <div class="navbar">
                <nav>
                
                         
                <ul>
                    <li><a href="./index.html"> Home </a> </li>
                    <li><a href="./about.html">About </a> </li>
                    <li><a href="./contact.html">Contact </a></li>
                    <li><a href="./rules.html">Rules</a></li>
                    <li> 
                        <a href="./signin.html">Sign in</a>
                    </li>
              </ul>
    
              
            </nav>
            </div>
    
    <div
        class="informacion">
    
   <p> Please email us at: <a href="mailto: info@nctts.org" >  info@nctts.org </a></p>

    <p>  We will reply as quickly as we can. </p>
    </div>

</html>