<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/media/style/index.css">
    <title> NorCal Time Trial Series </title>
</head>
<body>
    <div
    class="container">
    <div class="bloque1">
     <div class ="title">
       
      <h1> NorCal Time Trial Series </h1> 
     </div>
   

     <div> 
        <h2 class="Upcoming-Events">Upcoming Events</h2>
    </div>
    </div>

       
       <div class="fotologo"><img src="../asset/media/nysl_logo.png" height="200px" width="200px">
    
       </div>
        <div class="navbar">
            <nav>
            
                     
            <ul>
                <li>
                    <a href="./index.html"> Home </a> 
                </li>
                <li>
                    <a href="./about.html">About </a> 
                </li>
                <li>
                    <a href="./contact.html">Contact </a>
                </li>
                <li>
                    <a href="./rules.html"> Rules</a>
                </li>
                <li> 
                    <a href="./signin.html">Sign in</a>
                </li>
          </ul>

          
        </nav>
        </div>
        <div 
        class="textohome">
        <div class="mes1"><h4>February 12</h4></div>
      <div class="parrafo1" ><p>Board Meeting</p></div>

        <div class="mes2"><h4>February 25</h4> </div>
      <div class="parafo2"><p>Drivers Zoom Meeting</p></div>

        <div class="mes3"><h4>March 12</h4></div>
      <div class= "parrafo3"><p>First Event at Thunderhill!</p></div>
        </div>
      <div class="mapa">
        <div class="Location1"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3137.1102756832656!2d-122.45689388472756!3d38.160876597624245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085aee4fafa9ce7%3A0x27b6f31a35f5ee5b!2sSonoma%20Raceway!5e0!3m2!1ses-419!2ses!4v1658486352341!5m2!1ses-419!2ses" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        
    <div class="Location2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.901415504496!2d-122.33483118469218!3d39.539277916457586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808300c80a69468f%3A0x19fa0a2cd52110fd!2sThunderhill%20Raceway%20Park!5e0!3m2!1ses-419!2ses!4v1658486452149!5m2!1ses-419!2ses" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
    <div class="Location3"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.746435715861!2d-121.75571528476658!3d36.58432778752129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808df089bfd5341b%3A0xddbb6644155538c0!2sLaguna%20Seca!5e0!3m2!1ses-419!2ses!4v1658486515892!5m2!1ses-419!2ses" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
</div>

        
            <div class="Aclaracion"> <p><b> All events take place on Saturday.</b></p></div>
            <div class="Tabla">
    <table> 
        <tr> 
        <td class="Encabezado">Locations</td>
        <td class="Encabezado"> Spring Schedule </td>
        <td class="Encabezado">Times </td>
        </tr>
        <tr>
          <td>
            Sonoma Raceway (formerly called Sears Point)
29355 Arnold Dr, Sonoma, CA.


          </td>
          <td>
            March 12 – Thunderhill
            
          </td>
          <td rowspan="2">Gates open at 7:00 AM</td>
          
        </tr>
        <tr>
            <td>
                Thunderhill Raceway Park
                5250 CA-162, Willows, CA


            </td>
            <td> April 9 – Sonoma</td>
           
        </tr>
        <tr>
            <td> WeatherTech Raceway Laguna Seca
                1021 Monterey Salinas Hwy, Salinas
                </td>
            <td>
                May 14 – Laguna Seca
            </td>
            <td rowspan="2">First car out at 9:00 AM</td>
        </tr>
       <tr>
        <td>WeatherTech Raceway Laguna Seca
            1021 Monterey Salinas Hwy, Salinas</td>
        <td>May 28 – Laguna Seca</td>
        
       </tr>
       <tr>
        <td>WeatherTech Raceway Laguna Seca
            1021 Monterey Salinas Hwy, Salinas</td>
        <td>June 11 – awards banquet (location TBD)</td>
        <td>Gates close at 5:00 PM</td>
       </tr>
       

                
    </table>
            </div>
            

        
           <div  class="AdditionalInformation"><b> If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions.</div>
            
            <div class="Aclaracion2">
            Please direct all questions to: Michael Randall, Event Coordinator. </b> <br> </div>
            

           <div class="Phone">Phone: <a href="tel:690-8132"> (415) 690-8132 </a> <br> </div>
           <div class="Email"> Email :<a  href="mailto:michael.randall@nctts.org ">michael.randall@nctts.org </a> </div>
           
            
              </p>


              
        </div>

    