<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/media/style/signin.css">
    <title> NorCal Time Trial Series </title>
</head>
<body>
    <div
    class="container">
    <div class="bloque1">
     <div class ="title">
       
      <h1> NorCal Time Trial Series </h1> 
     </div>
   

     <div> 
        <h2 class="Signin">Sign in</h2>
    </div>
    </div>

       
       <div class="fotologo"><img src="../asset/media/nysl_logo.png" height="200px" width="200px">
    
       </div>
        <div class="navbar">
            <nav>
            
                     
            <ul>
                <li>
                    <a href="./index.html"> Home </a> 
                </li>
                <li>
                    <a href="./about.html">About </a> 
                </li>
                <li>
                    <a href="./contact.html">Contact </a>
                </li>
                <li>
                    <a href="./rules.html"> Rules</a>
                </li>
                <a href="./signin.html"> Sign in</a>
          </ul>

          
        </nav>
        </div>
        <div class="Formulario">
        <h1> Registration Form </h1>
        <form>
            <section>
                <label> First Name:  <input type="text"> </label>
                <label>Last Name  : <input type="text"></label>
            </section>
           
        

         <section class ="section2">
            <label>Street Address  : <input type="text"></label>
            <label >City : <input type="text" >
           
            </label>
            <label >Zip Code : <input type="text"></label>
            <label >Age :  <input type="text"></label>
            <label> Gender: <input type="checkbox">Female <input type="checkbox">Male</label>

        </section >
        
         <section class="section3">
            <label> Contact Phone: <input type="text"> </label> 
            <label> Contact Email: <input type="text"></label>
             </section>
            
        </form>
        <h2> Motorsports Organization Membership? </h2>
        <section class="section4">
            <div class="checkbox">
                <label> Sports Car Club of America (SCCA) <input type="checkbox"></label>
            </div>
        <div class="checkbox">
            <label> National Autosport Association (NASA) <input type="checkbox"></label>
          </div>
          <div class="checkbox">
            <label>None  <input type="checkbox"></label>
          </div>
          
           
        </section>
        <h2> Previous Competitive Experience</h2>
       
        <section class="section5">
           
           
            <div class="checkbox"><label> None <input type="checkbox"></label>
            </div>
            <div>
                <input type="checkbox"><label> HPDE/Track Days</label> </div>
                <div><input type="checkbox"><label> Autocross</label></div>
                <div><input type="checkbox"><label> Autocross</label></div>
               <div> <input type="checkbox"><label> One Year </label></div>
               <div> <input type="checkbox"><label> Two Years </label></div>
               <div> <input type="checkbox"><label> Over two years</label></div>
           
            
           
        </section>
        </div>


       